/**
    Typecho theme ZeroTwo.
    By 狱杰
    v:build.
    link: https://github.com/obentnet/ZeroTwo
**/

.font-pmzd{
    font-family: '庞门正道';
}
header{
    display: flex;
    /* justify-content: center;*/
}
.header-main{
    display: flex;
    /** max-width: 1024px; **/
    margin: auto;
    padding: .5em 0 .5em 0em;
}
.header-site-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:white;
    margin-right: 10px;
}
.header-site-title>a{
    text-decoration:none;
    font-size: 20px;
    font-weight: 400;
    color: white;
}
.nav-style{
    display: flex;
    align-items: center;
}
.nav-btn{
    color: white !important;
}
.nav-search{
    justify-content: flex-end;
    display: flex;
}

/** Home-post **/
.home-post{
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    align-items: center;
}
.article-info{
    padding-left:2em ;
    padding-right: 2em;
}
article{
    margin-bottom: 2em;
    border-radius: 0px;
    min-height: 20em;
    padding: 2em;
    box-shadow: 0 0px 3px black;
}
.article-title{
    font-size: 30px;
}
.article-title>a{
    color: #42a5f5 !important;
}
.mdui-typo a::before{
    background-color: #42a5f5 !important; ;
}
.article-divider{
    margin: 1em 0 1em 0;
}
.article-author{
    background-color: white;
}

/**
    Post Style
**/
.post-main{
    display: flex;
}



/** Mobile **/
@media screen and (max-width: 768px){
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-main{
        display: block;
        max-width: auto;
    }
}